header {
    background-color: brown;
}

header p, h1 {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: burlywood;
    margin: 0;
}

h2 {
    background-color: beige;
    font-family: Courier;
    margin-bottom: 0;
    margin-left: 3%;
}

h3 {
    margin-top: 0;
    margin-left: 3%;
    background-color: darkcyan;
    color: aliceblue;
}

img {
    margin-left: 5%;
}

div {
    padding: 0;
    background-color: grey;
}